-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: lending_system
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(150) NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (2,'admin','$2y$10$H9kxypKkojwl7L0wLwQRhOIbqZBeL2PQ62/72I9GRmkAxfDcSua6y','admin@lendingsystem.com','2026-03-29 01:59:15');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing`
--

DROP TABLE IF EXISTS `billing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `billing` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `loan_id` int(11) DEFAULT NULL,
  `month_number` int(10) unsigned NOT NULL DEFAULT 1,
  `amount_due` decimal(12,2) NOT NULL DEFAULT 0.00,
  `interest` decimal(12,2) NOT NULL DEFAULT 0.00,
  `penalty` decimal(12,2) NOT NULL DEFAULT 0.00,
  `total_due` decimal(12,2) NOT NULL DEFAULT 0.00,
  `due_date` date DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing`
--

LOCK TABLES `billing` WRITE;
/*!40000 ALTER TABLE `billing` DISABLE KEYS */;
INSERT INTO `billing` VALUES (42,1,10,1,5000.00,150.00,0.00,5150.00,'2026-04-29','2026-04-01 20:45:16','Completed','2026-04-01 12:43:41'),(43,1,11,1,5000.00,150.00,0.00,5150.00,'2026-04-29','2026-04-02 20:07:46','Completed','2026-04-01 15:17:26');
/*!40000 ALTER TABLE `billing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blocked_emails`
--

DROP TABLE IF EXISTS `blocked_emails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `blocked_emails` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(150) NOT NULL,
  `reason` text DEFAULT NULL,
  `blocked_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blocked_emails`
--

LOCK TABLES `blocked_emails` WRITE;
/*!40000 ALTER TABLE `blocked_emails` DISABLE KEYS */;
/*!40000 ALTER TABLE `blocked_emails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_income`
--

DROP TABLE IF EXISTS `company_income`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_income` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `amount` decimal(12,2) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `earned_at` date NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_income`
--

LOCK TABLES `company_income` WRITE;
/*!40000 ALTER TABLE `company_income` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_income` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_income_deductions`
--

DROP TABLE IF EXISTS `company_income_deductions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_income_deductions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `distribution_id` int(11) NOT NULL COMMENT 'FK to money_back_distributions',
  `amount` decimal(15,2) NOT NULL COMMENT 'Amount deducted from income',
  `year` int(4) NOT NULL COMMENT 'Year of deduction',
  `deducted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_distribution_id` (`distribution_id`),
  KEY `idx_year` (`year`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Company Income Deductions for Money Back';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_income_deductions`
--

LOCK TABLES `company_income_deductions` WRITE;
/*!40000 ALTER TABLE `company_income_deductions` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_income_deductions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan_transactions`
--

DROP TABLE IF EXISTS `loan_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loan_transactions` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `no` int(10) unsigned NOT NULL DEFAULT 0,
  `transaction_id` varchar(20) NOT NULL,
  `loan_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `type` varchar(50) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `status` enum('Pending','Approved','Rejected') NOT NULL DEFAULT 'Pending',
  `note` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaction_id` (`transaction_id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_transactions`
--

LOCK TABLES `loan_transactions` WRITE;
/*!40000 ALTER TABLE `loan_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loans`
--

DROP TABLE IF EXISTS `loans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loans` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `applied_amount` decimal(10,2) NOT NULL,
  `term_months` int(10) unsigned NOT NULL DEFAULT 1,
  `received_amount` decimal(12,2) DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `applied_at` datetime DEFAULT current_timestamp(),
  `approved_at` datetime DEFAULT NULL,
  `interest` decimal(5,2) DEFAULT 3.00,
  `term` int(11) NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'Pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `transfer_done` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loans`
--

LOCK TABLES `loans` WRITE;
/*!40000 ALTER TABLE `loans` DISABLE KEYS */;
INSERT INTO `loans` VALUES (10,1,5000.00,1,4850.00,NULL,'2026-04-01 20:43:10','2026-04-01 20:43:41',3.00,0,'Completed','2026-04-01 12:43:10',1),(11,1,5000.00,1,4850.00,NULL,'2026-04-01 23:01:00','2026-04-01 23:17:26',3.00,0,'Completed','2026-04-01 15:01:00',1);
/*!40000 ALTER TABLE `loans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `money_back_distributions`
--

DROP TABLE IF EXISTS `money_back_distributions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `money_back_distributions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `total_pool` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Total amount available for distribution (2% of company income)',
  `premium_count` int(11) NOT NULL DEFAULT 0 COMMENT 'Number of Premium members who received distribution',
  `individual_amount` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Amount each Premium member received',
  `total_distributed` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Total amount actually distributed',
  `user_id` int(10) unsigned NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `year` year(4) NOT NULL,
  `distributed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('pending','completed') DEFAULT 'completed',
  `distribution_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `distributed_up_to_date` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `money_back_distributions`
--

LOCK TABLES `money_back_distributions` WRITE;
/*!40000 ALTER TABLE `money_back_distributions` DISABLE KEYS */;
/*!40000 ALTER TABLE `money_back_distributions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `money_back_recipients`
--

DROP TABLE IF EXISTS `money_back_recipients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `money_back_recipients` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `distribution_id` int(11) NOT NULL COMMENT 'FK to money_back_distributions',
  `user_id` int(11) NOT NULL COMMENT 'FK to users table',
  `user_name` varchar(255) NOT NULL COMMENT 'Full name at time of distribution',
  `amount` decimal(15,2) NOT NULL COMMENT 'Amount received',
  `transaction_id` varchar(50) NOT NULL COMMENT 'Savings transaction ID',
  `year` int(4) NOT NULL COMMENT 'Year of distribution',
  `premium_since` date DEFAULT NULL COMMENT 'User Premium anniversary date',
  `last_received` date DEFAULT NULL COMMENT 'When user last received money back',
  `next_eligible` date DEFAULT NULL COMMENT 'When user is next eligible',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_year` (`user_id`,`year`),
  KEY `idx_distribution_id` (`distribution_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_year` (`year`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Individual Money Back Recipients';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `money_back_recipients`
--

LOCK TABLES `money_back_recipients` WRITE;
/*!40000 ALTER TABLE `money_back_recipients` DISABLE KEYS */;
/*!40000 ALTER TABLE `money_back_recipients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `moneyback_transactions`
--

DROP TABLE IF EXISTS `moneyback_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `moneyback_transactions` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `year` year(4) NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `moneyback_transactions`
--

LOCK TABLES `moneyback_transactions` WRITE;
/*!40000 ALTER TABLE `moneyback_transactions` DISABLE KEYS */;
INSERT INTO `moneyback_transactions` VALUES (1,1,10000.00,2026,'2026-03-30 02:24:02');
/*!40000 ALTER TABLE `moneyback_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `savings`
--

DROP TABLE IF EXISTS `savings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `savings` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `balance` decimal(12,2) NOT NULL DEFAULT 0.00,
  `last_deposit_date` date DEFAULT NULL,
  `zero_since` date DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `savings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `savings`
--

LOCK TABLES `savings` WRITE;
/*!40000 ALTER TABLE `savings` DISABLE KEYS */;
INSERT INTO `savings` VALUES (1,1,0.00,NULL,NULL,'2026-03-31 17:26:08','2026-04-01 18:04:05'),(2,3,0.00,NULL,NULL,'2026-04-01 20:30:38','2026-04-01 20:35:37');
/*!40000 ALTER TABLE `savings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `savings_transactions`
--

DROP TABLE IF EXISTS `savings_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `savings_transactions` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `no` int(10) unsigned NOT NULL DEFAULT 0,
  `transaction_id` varchar(20) NOT NULL,
  `user_id` int(10) unsigned NOT NULL,
  `category` enum('Deposit','Withdrawal') NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `status` enum('Pending','Completed','Failed','Rejected') NOT NULL DEFAULT 'Pending',
  `note` text DEFAULT NULL,
  `requested_at` datetime DEFAULT current_timestamp(),
  `processed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaction_id` (`transaction_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `savings_transactions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `savings_transactions`
--

LOCK TABLES `savings_transactions` WRITE;
/*!40000 ALTER TABLE `savings_transactions` DISABLE KEYS */;
INSERT INTO `savings_transactions` VALUES (40,1,'SAV-20260401-911A62',3,'Deposit',1000.00,'Completed',NULL,'2026-04-01 20:34:49','2026-04-01 20:34:49'),(41,2,'WD-20260401-DA513A',3,'Withdrawal',1000.00,'Completed','need nako','2026-04-01 20:35:25','2026-04-01 20:35:37');
/*!40000 ALTER TABLE `savings_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `account_type` enum('Basic','Premium') NOT NULL DEFAULT 'Basic',
  `premium_since` date DEFAULT NULL COMMENT 'Date when user became Premium',
  `status` enum('Pending','Active','Disabled','Rejected') NOT NULL DEFAULT 'Pending',
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `address` text NOT NULL,
  `gender` enum('Male','Female','Other') DEFAULT NULL,
  `birthday` date NOT NULL,
  `age` tinyint(3) unsigned NOT NULL,
  `email` varchar(150) NOT NULL,
  `contact_number` varchar(15) NOT NULL,
  `bank_name` varchar(150) NOT NULL,
  `bank_account_number` varchar(50) NOT NULL,
  `card_holder_name` varchar(150) NOT NULL,
  `tin_number` varchar(20) NOT NULL,
  `company_name` varchar(150) NOT NULL,
  `company_address` text NOT NULL,
  `company_phone` varchar(15) NOT NULL,
  `position` varchar(100) NOT NULL,
  `monthly_earnings` decimal(12,2) NOT NULL,
  `proof_of_billing` varchar(255) NOT NULL,
  `valid_id` varchar(255) NOT NULL,
  `coe` varchar(255) NOT NULL,
  `is_verified` tinyint(1) DEFAULT 0,
  `loan_limit` decimal(12,2) NOT NULL DEFAULT 10000.00,
  `max_term_months` int(10) unsigned NOT NULL DEFAULT 12,
  `rejection_reason` text DEFAULT NULL,
  `delete_at` datetime DEFAULT NULL,
  `rejected_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-06 16:58:04
